extends layout

block content
    div.text-center

        p KOSÁR OLDAL


        if session.cartContent
            form(action="/addToOrderTable" method="post")
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') #
                            th(scope='col') Pizza
                            th(scope='col') Feltétek
                            th(scope='col') Összeg
                            th(scope='col') Töröl
                    tbody
                        each x in zsa
                            tr
                                td= x.id
                                td= x.name
                                td= x.extra
                                td= x.ar


                p='Végösszeg: ' +  priceSum
                input(type='hidden' value=priceSum name='finalPrice')

                div(class="form-signin")
                    div(class="form-group")
                        label(for="email") Email cím
                        input#email(class="form-control" type="text", name="email"  autofocus required)

                    div(class="form-group")
                        label(for="nev") Név
                        input#nameirl(class="form-control" type="text", name="nameirl"  autofocus required)

                    div(class="form-group")
                        label(for="email") Telefonszám
                        input#phone(class="form-control" type="text", name="phone"  autofocus required)

                    div(class="form-group")
                        label(for="x") Város
                            input#city(class="form-control" type="text",name="city"  required)
                        label(for="x") Utca
                            input#street(class="form-control" type="text",name="street"  required)
                        label(for="x") Házszám
                            input#adNumber(class="form-control" type="text",name="adNumber" required)
                        label(for="x") Emelet/ajtó
                            input#floorBell(class="form-control" type="text",name="floorBell" required)

                    div(class="form-group")
                        div(class="text-center")
                            input(class="btn btn-primary" type="submit" value="Vásárlás")


        script.
            var user = !{JSON.stringify(session.loggedInUser)}
            console.log(user);
            window.onload = function () {
                function setData(input) {
                    return input;
                }

                if(user) {
                    document.getElementById("email").value = setData(user.email);
                    document.getElementById("nameirl").value = setData(user.nameirl);
                    document.getElementById("phone").value = setData(user.phone);
                    document.getElementById("city").value = setData(user.city);
                    document.getElementById("street").value = setData(user.street);
                    document.getElementById("adNumber").value = setData(user.adNumber);
                    document.getElementById("floorBell").value = setData(user.floorBell);
                }
                else{
                    document.getElementById("email").value = "";
                    document.getElementById("nameirl").value = "";
                    document.getElementById("phone").value = "";
                    document.getElementById("city").value = "";
                    document.getElementById("street").value = "";
                    document.getElementById("adNumber").value = "";
                    document.getElementById("floorBell").value = "";
                }
            };