extends layout

block content

    div
        if session.isAdmin
            p Üdv PizzaAdmin :)
                div
                    table.table
                        thead.thead-dark
                            tr
                                th(scope='col') Rendeles azonosito
                                th(scope='col') Státusz
                                th(scope='col') Fizetendő
                                th(scope='col') Telefon
                                th(scope='col') Város
                                th(scope='col') Utca
                                th(scope='col') Házszám
                                th(scope='col') Csengő
                                th(scope='col') Név
                                th(scope='col') Mikor
                                th(scope='col') Modosit

                        tbody
                            each rendeles in rendelesek
                                form(action="/editstatus" method="post")
                                        tr
                                            td= rendeles.Order_id
                                            td= rendeles.Status
                                                input(type='hidden' value=rendeles.Order_id name='orderId')
                                                select#cars(name='status')
                                                    option(value= "Feldolgozas alatt" selected='')= "Feldolgozas alatt"
                                                    option(value= "Keszites folyamatban" )= "Készítés folyamatban"
                                                    option(value= "Lezart" )= "Lezárt"
                                            td= rendeles.finalPrice
                                            td= rendeles.phone
                                            td= rendeles.city
                                            td= rendeles.street
                                            td= rendeles.adNumber
                                            td= rendeles.floorBell
                                            td= rendeles.name
                                            td= rendeles.when
                                            td
                                                div
                                                    input(class="btn btn-primary" type="submit" value="Módosít")





        else
            p SAJÁT ADATLAP OLDAL

