extends layout

block content
    div.text-center

        h1 Étlap


        table.table
            thead.thead-dark
                tr
                    th(scope='col') #
                    th(scope='col') Pizza
                    th(scope='col') Feltétek
                    th(scope='col') Méret és Ár
                    th(scope='col') Extra feltét
                    th(scope='col') Kosárba

            tbody

                each pizza in pizzas
                    form(action="/addtocart" method="post")
                        tr
                            td= pizza.pizzaId
                            td= pizza.name
                            td= pizza.alapok
                            td
                                select#cars(name='size')
                                    option(value= pizza.priceM )= "Közepes " + pizza.priceM
                                    option(value= pizza.priceL selected='')= "Nagy " + pizza.priceL
                            td
                                .container
                                    .row
                                        .col-lg-12
                                            .button-group
                                                button.btn.btn-default.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
                                                    span +
                                                ul.dropdown-menu
                                                    each f in feltetArak
                                                        li
                                                            input(type='checkbox' name='extra' value= f.name)
                                                            | #{f.name}


                            td
                                div(class="form-group")
                                    div(class="text-center")
                                        input(type='hidden' value=pizza.pizzaId name='pizza_id')
                                        input(class="btn btn-primary" type="submit" value="Kosárba")


    script(type='text/javascript').
        let expanded = false;

        console.log(document.querySelectorAll("extra"));



        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }