extends layout

block content
    div.text-center
        br
        h3.text-center Étlap
        br

        table.table
            thead.thead-dark
                tr
                    th(scope='col') #
                    th(scope='col') Pizza
                    th(scope='col') Feltétek
                    th(scope='col') Méret és Ár
                    th(scope='col') Kosárba

            tbody

                each pizza in pizzas
                    form(action="/addtocart" method="post")
                        tr
                            td= pizza.pizzaId
                            td= pizza.name
                            td= pizza.material
                            td
                                select(name='size')
                                    option(value= pizza.priceM )= "Közepes " + pizza.priceM
                                    option(value= pizza.priceL selected='')= "Nagy " + pizza.priceL
                            td
                                div(class="form-group")
                                    div(class="text-center")
                                        input(type='hidden' value=pizza.pizzaId name='pizza_id')
                                        input(type='hidden' value=pizza.name name='pizzaName')
                                        input(type='hidden' value=pizza.material name='pizzaMaterial')
                                        input(class="btn btn-primary" type="submit" value="Kosárba")


